<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HTTP Live Stream Player</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- https://videojs.com/getting-started/ -->
  <script src="{{ url_for('.static', filename='js/video.min.js') }}"></script>
  <!-- https://github.com/streamroot/videojs-hlsjs-plugin -->
  <script src="{{ url_for('.static', filename='js/videojs-hlsjs-plugin.js') }}"></script>
  <!-- https://github.com/streamroot/videojs-quality-picker -->
  <script src="{{ url_for('.static', filename='js/vjs-quality-picker.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/proxy.js') }}"></script>
</head>
<body class="bg-light">
  <header>
    <nav>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#">Pooq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Oksusu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Tving</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="main-player">
    <div class="p-5 player">
      <video id="video" class="video-js vjs-fluid vjs-big-play-centered" width="640" height="480" autoplay controls preload="auto" data-setup='{"playbackRates": [1, 0.75, 0.5, 0.25]}'>
        <!--<source src="{% if source %}{{ source }}{% endif %}" type="application/x-mpegURL">-->
        <!--<source src="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8" type="application/x-mpegURL">-->
        <!--
        http://localhost:8081/proxy/pooq?ch=K02
        https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8
        https://video-dev.github.io/streams/test_001/stream.m3u8
        https://video-dev.github.io/streams/pts_shift/master.m3u8
        https://video-dev.github.io/streams/dai-discontinuity-deltatre/manifest.m3u8
        https://d2zihajmogu5jn.cloudfront.net/sintel/rendition/rendition.m3u8?assetId=4034861117001&videoId=4034552795001
        https://d2zihajmogu5jn.cloudfront.net/elephantsdream/hls/ed_hd.m3u8
        -->
        <source src="https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8" type="application/x-mpegURL">
        <p class='vjs-no-js'>
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
        </p>
      </video>
    </div>
    <div class="px-5 user-inputs">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Media URL (e.g http://...m3u8)" aria-label="Meia URL" aria-describedby="button-addon2" id="media-load-url" onkeydown="loadFromUrlEnter(this)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="media-load-button" onclick="loadFromUrl(document.getElementById('media-load-url'))">Load</button>
        </div>
      </div>
    </div>
  </section>
  <script>
    var player = videojs('video');
    player.qualityPickerPlugin();
    player.ready(function() {
      var promise = player.play();
      if (promise !== undefined) {
        promise.then(function() {
          player.play();
        }).catch(function(error) {
              // Autoplay was prevented.
            });
      }
    });
  </script>
</body>
</html>