<!DOCTYPE html>
<html>
<head>
  {%- block head %}
  <title>{%- block title %}{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('.static', filename='js/gathermate.js') }}"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('.static', filename='styles/gathermate.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
  <style type="text/css">
    {%- block style %}{% endblock style %}
  </style>
  <script>
    {%- block script %}
    $(function(){
      markIndex('{{ index }}');
    });
    {%- endblock script %}
  </script>
  {%- endblock head %}
</head>
<body>
  <header>
    {%- block header %}{% endblock header %}
  </header>
  <nav class="w3-top">
    {%- block nav %}
    <div class="w3-bar w3-theme w3-card w3-top w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-left w3-hide-large w3-hover-white w3-large" href="javascript:scrollTo('{{ index }}');" id="menu"><i class=" fa fa-bars"></i></a>
      <a class="w3-bar-item w3-button" href="{{ url_for('.index') }}"><i class="fa fa-home"></i></a>
      {%- block search %}{% endblock search %}
    </div>
    {%- endblock nav %}
  </nav>
  <!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-collapse w3-theme-l5 w3-card" id="mySidebar">
    {%- block sidebar %}
      {%- block sidebaritem %}{% endblock sidebaritem %}
    {%- endblock sidebar %}
  </div>
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" title="close side menu" id="myOverlay"></div>
  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <section class="w3-main wrapper">
    <div class="w3-row">
      {%- block section %}{% endblock section %}
    </div>
  </section>
  <footer id="myFooter">
    {%- block footer %}{% endblock footer %}
  </footer>
  <div id="toastbar">
  </div>
{%- with messages = get_flashed_messages() %}
  {%- if messages %}
    {%- for message in messages %}
  <script>
    var msg = '{{ message }}';
    toastbar(msg);
  </script>
    {%- endfor %}
  {%- endif %}
{%- endwith %}
</body>
</html>