{%- extends "gathermate_base_layout.html" %}
{%- block title %}Gathermate{% endblock %}
{%- block sidebaritem %}

{%- macro render_index(url, site, name, menu) %}
      <h6 class="w3-theme-l1 w3-bar-item w3-card w3-hover-grey" onclick="$('.{{ site }}').toggle()"><a href="{{ url|safe }}" target="_blank" rel="noopener noreferrer external" onclick="event.stopPropagation()">{{ name }}</a></h6>
      <ul class="index-list w3-padding-small {{ site }}">
  {%- for item in menu %}
    {%- if item[2] %}
        <li>
          <a id="{{ site }}_{{ item[0] }}" class="w3-hover-black" href="{{ url_for('.order', order=item[2], index='%s_%s'|format(site, item[0]), url=item[3]) }}">{{ item[1] }}</a>
        </li>
    {%- else %}
        <li>
          <a id="{{ site }}_{{ item[0] }}" class="w3-hover-green" href="{{ url_for('.list_by_alias', index='%s_%s'|format(site, item[0]), site=site, board=item[0]) }}">{{ item[1] }}</a>
        </li>
    {%- endif %}
  {%- endfor %}
      </ul>
{%- endmacro %}

{%- set menu = [
  ['tmovie', '영화'], ['tent', '예능'], ['tdrama', '드라마'], ['tv', 'TV'], ['tani', '애니'], ['tmusic', '음악'], ['util', '유틸'],
] -%}
      {{ render_index('https://www.tfreeca3.com/home.php', 'tfreeca', '티프리x', menu) }}

{%- set menu = [
  ['tmovie', '영화'], ['tent', '예능'], ['tdrama', '드라마'], ['tv', 'TV'], ['tani', '애니'], ['tmusic', '음악'], ['util', '유틸'],
] -%}
      {{ render_index('https://www.torrentmi.com/', 'torrentmi', '토x트미', menu) }}

{%- set menu = [
  ['data_movie', '영화'], ['data_kortv', '국내TV'], ['data_worldtv', '해외TV'], ['data_any', '애니'], ['data_sub', '자막'], ['data_spot', '스포츠'], ['data_video', '동영상'], ['data_game', '게임'], ['data_util', '유틸'], ['data_etc', '기타'], ['data_smart', '휴대기기'], ['data_worldmusic', '해외음원'],
] -%}
      {{ render_index('http://www.etoland.co.kr/', 'etoland', '이x랜드', menu) }}

{%- set menu = [
  ['torrent_popular', '인기', 'list', 'https%3A%2F%2Fm.torrentwal.net'], ['torrent_movie', '영화'], ['torrent_variety', '예능'],  ['torrent_tv', '드라마'], ['torrent_docu', '다큐'], ['torrent_sports', '스포츠'], ['torrent_util', '유틸'],  ['torrent_ani', '애니'], ['torrent_song', '음원'], ['torrent_game', '게임'], ['torrent_mid', '해외TV'],  ['torrent_child', '어린이'], ['torrent_etc', '기타'], ['torrent_iphone', '휴대기기'], ['torrent_book', '도서'],
] -%}
      {{ render_index('https://torrentwal.net/', 'wal', '토x트왈', menu) }}

{%- set menu = [
  ['torrent_movie', '외국영화'], ['torrent_kmovie', '한국영화'],  ['torrent_ent', '예능'], ['torrent_drama', '드라마'], ['torrent_docu', '다큐'], ['torrent_video', '뮤비'], ['torrent_sports', '스포츠'], ['torrent_ani', '애니'], ['torrent_music', '음악'], ['torrent_game', '게임'], ['torrent_mobile', '모바일'], ['torrent_util', '유틸'], ['torrent_toon', '만화'], ['torrent_book', '도서'], ['torrent_kids', '어린이'],
] -%}
      {{ render_index('https://torrenthaja.com/', 'haja', '토x트하자', menu) }}

{%- set menu = [
  ['ko_movie', '한국영화'], ['movie', '외국영화'], ['ent', '예능'], ['drama', '드라마'], ['daq', '다큐'], ['ani', '애니'], ['kids', '어린이'], ['toon', '만화'], ['game', '게임'], ['mo_game', '모바일게임'],
] -%}
      {{ render_index('https://torrentboza.com/', 'boza', '토x트보자', menu) }}

{%- set menu = [
  ['psd_caption', '자막자료실'], ['psd_dramacap', '드라마자막']
] -%}
      {{ render_index('http://cineaste.co.kr', 'cineaste', '시x스트', menu) }}

{%- endblock sidebaritem %}
{%- block section %}
      <div class="w3-container w3-rest" >
{%- if error_msg %}
        <center>
          <i class="fa fa-exclamation-triangle" style="font-size:64px;" aria-hidden="true"></i>
        </center>
        <center>{{ error_msg }}</center>
{%- else %}
          <p>이 프로그램은 특정 웹 페이지의 콘텐츠를 수집 및 재가공하여 서버 형태로 제공합니다.</p>
          <p>서버지만 반드시 <b>본인</b>만 접속할 수 있도록 설정하시길 바랍니다.</p>
          <p>웹 상에서 수집한 콘텐츠를 타인에게 노출시킬 경우 법적으로 문제가 될 수 있기 때문입니다.</p>
{%- endif %}
      </div>
{%- if response %}
      <hr />
      <div class="w3-container w3-rest">
        <pre><code class="html">
          {{- response }}
        </code></pre>
      </div>
      <script>hljs.initHighlightingOnLoad();</script>
{%- endif %}
{%- endblock section %}
